* {
    margin: 0;
    padding: 0;
}

#chessboard {
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #333;
}

.square {
    width: 12.5%;
    height: 12.5%;
    box-sizing: border-box;
    position: relative;
}

.light {
    background-color: #f0d9b5;
}

.dark {
    background-color: #b58863;
}

.piece {
    width: 100%;
    height: 100%;
    cursor: grab;
    position: absolute;
    top: 0;
    left: 0;
}

.highlight {
    box-shadow: inset 0 0 0 1px rgb(255, 255, 255);
}

#chess_mate_msg {
    width:100%;
    color:black;
    background-color: #ffedd1;
    margin-top:10px;
    text-align:center;
    font-size:50px;
}

#new_game_activator {
    cursor: pointer;
    width: 100%;
    color: #946945;
    background-color: #ffedd1;
    margin-top: 10px;
    text-align: center;
    font-size: 50px;
}



#new_game_activator:hover {
    color:#ffedd1;
    background-color: #b58863;
}



